/* LayerSlider Euged */



.ls-metrolium {
}

.ls-metrolium .ls-bottom-nav-wrapper {
	text-align: center;
	margin: -38px auto 0px auto;
	position: relative;
}

.ls-metrolium .ls-playvideo {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
}

.ls-metrolium .ls-playvideo,
.ls-metrolium .ls-nav-sides,
.ls-metrolium .ls-bottom-slidebuttons a,
.ls-metrolium .ls-nav-prev,
.ls-metrolium .ls-nav-next,
.ls-metrolium .ls-nav-start,
.ls-metrolium .ls-nav-stop,
.ls-metrolium .ls-fullscreen,
.ls-metrolium .ls-loading-container {
	background-image: url(skin.png);	
}

.ls-metrolium .ls-playvideo {
	background-position: -300px -150px;
}

.ls-metrolium .ls-playvideo:hover,
.ls-metrolium .ls-vpcontainer:hover .ls-playvideo {
	background-position: -375px -150px;
}

.ls-metrolium .ls-nav-prev {
	background-position: 0px 0px;
}

.ls-metrolium .ls-nav-prev:hover {
	background-position: 0px -75px;
}

.ls-metrolium .ls-nav-next {
	background-position: -150px 0px;
}

.ls-metrolium .ls-nav-next:hover {
	background-position: -150px -75px;
}

.ls-metrolium .ls-nav-start {
	background-position: -300px 0px;
}

.ls-metrolium .ls-nav-start:hover,
.ls-metrolium .ls-nav-start-active {
	background-position: -300px -75px;
}

.ls-metrolium .ls-nav-stop {
	background-position: -450px 0px;
}

.ls-metrolium .ls-nav-stop:hover,
.ls-metrolium .ls-nav-stop-active {
	background-position: -450px -75px;
}

.ls-metrolium .ls-bottom-slidebuttons a {
	background-position: 0px -150px;
}

.ls-metrolium .ls-bottom-slidebuttons a.ls-nav-active,
.ls-metrolium .ls-bottom-slidebuttons a:hover {
	background-position: -75px -150px;
}

.ls-metrolium .ls-nav-sideleft {
	background-position: -150px -150px;	
}

.ls-metrolium .ls-nav-sideright {
	background-position: -225px -150px;	
}



.ls-metrolium .ls-nav-prev,
.ls-metrolium .ls-nav-next {
	width: 43px;
	height: 55px;
	z-index: 10000;
	top: 50%;
	margin-top: -27px;	
	position: absolute;
}

.ls-metrolium .ls-nav-prev {
	left: 20px;	
}

.ls-metrolium .ls-nav-next {
	right: 20px;	
}



.ls-metrolium .ls-bottom-slidebuttons,
.ls-metrolium .ls-bottom-slidebuttons a,
.ls-metrolium .ls-nav-start,
.ls-metrolium .ls-nav-stop,
.ls-metrolium .ls-nav-sides {
	height: 28px;
}

.ls-metrolium .ls-bottom-slidebuttons,
.ls-metrolium .ls-bottom-slidebuttons a,
.ls-metrolium .ls-nav-start,
.ls-metrolium .ls-nav-stop,
.ls-metrolium .ls-nav-sides {
	display: inline-block;
}

.ls-metrolium .ls-nav-start,
.ls-metrolium .ls-nav-stop {
	width: 24px;
}

.ls-metrolium .ls-bottom-slidebuttons a {
	width: 20px;
}

.ls-metrolium .ls-nav-sides {
	width: 6px;	
}



.ls-metrolium .ls-thumbnail-hover {
	bottom: 55px;
	padding: 4px;
	margin-left: 1px;
}

.ls-metrolium .ls-thumbnail-hover-bg {
	background: white;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	border-radius: 3px;
}

.ls-metrolium .ls-thumbnail-hover span {
	border: 5px solid white;
	margin-left: -5px;
}



.ls-metrolium .ls-thumbnail {
	top: -20px;
}

.ls-metrolium .ls-thumbnail-inner {
	padding: 5px;
	margin-left: -5px;
	background: white;
	box-shadow: 0px 3px 35px -10px black;
	border-radius: 4px;
}

.ls-metrolium .ls-thumbnail-slide a {
	margin-right: 5px;
}

.ls-metrolium .ls-nothumb {
	background: #eee;
}



.ls-metrolium .ls-above-thumbnails {
	display: none;
}

.ls-metrolium .ls-below-thumbnails {
	display: block;
	margin-top: -20px;
}



.ls-metrolium .ls-loading-container {
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	background-position: -450px -150px;	
}

.ls-metrolium .ls-loading-indicator {
	width: 22px;
	height: 22px;
	margin-top: 9px;
	background-image: url(loading.gif);	
}



.ls-metrolium .ls-fullscreen {
	width: 30px;
	height: 30px;
	right: 10px;
	top: 10px;
	background-position: -525px -150px;
}

.ls-metrolium .ls-fullscreen:hover {
	background-position: -525px -190px;
}