/****************************************************
* Site Wide CTA
****************************************************/
#site-wide-cta {
	background-color: $site-wide-cta-background-colour;
	color: $site-wide-cta-text-colour;
	font-size: $site-wide-cta-font-size;
	line-height: 36px;
	text-align: center;

	a {
		color: $site-wide-cta-link-colour;

		&:hover {
			color: $site-wide-cta-link-hover-colour;
		}

		&.button {
			margin: 0 10px;
			background-color: $site-wide-cta-link-colour;

			&:hover {
				background-color: $site-wide-cta-link-hover-colour;
			}
		}
	}

	p {
		margin-bottom: 0;
	}
}

/****************************************************
* Pre Footer
****************************************************/
#prefooter {
	background-color: $prefooter-background-colour;

	h2 {
		color: $prefooter-text-colour;
		font-size: $prefooter-font-size;
		text-align: center;
		margin-bottom: $margin/2;
	}

	.social-icon {
		@include icon_style($prefooter-social-icon-size);
		background: $prefooter-social-icon-background-colour;
		color: $prefooter-social-icon-text-colour;
	}

	.social {
		text-align: center;

		ul {
			margin: 0;

			li {
				display: inline-block;
				margin-bottom: 1px;
				margin-left: 1px;
			}
		}
	}

	.placeholder {
		height: 40px;
		line-height: 40px;
		padding:0 15px;
		color: #FFF;
		text-align: center;
		background-color: #2095a0;
		margin: 0 auto;
		overflow: hidden;
	}

	@include min-screen-width(tablet-portrait) {

		h2 {
			float: left;
			margin: 0;
			line-height: $prefooter-social-icon-size;
		}

		.social {
			float: right;

			ul {
				li {
					display: block;
					float: left;
					margin-bottom: 0;
				}
			}
		}
	}
}


/****************************************************
* Footer
****************************************************/
#footer {
	background-color: $footer-background-colour;
	color: $footer-text-colour;
	font-size: $footer-font-size;
	line-height: $site-line-height;
	padding: $gutter 0 $gutter - $margin 0;

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6	{ color: $footer-heading-text-colour; }

	a {
		color: $footer-link-colour;
		&:hover { color: $footer-link-hover-colour; }
	}

	.placeholder {
		height: 200px;
		line-height: 200px;
		text-align: center;
		background-color: rgba(0,0,0,0.15);
		margin-bottom: $margin;
		overflow: hidden;
	}

	@include min-screen-width(tablet-portrait) {
		padding: $gutter*1.5 0 ($gutter*1.5)-$margin 0;
	}
}


/****************************************************
* Trim
****************************************************/
#trim {
	background-color: $trim-background-colour;
	color: $trim-text-colour;
	font-size: $trim-font-size;
	line-height: $site-line-height;
	padding: $gutter/2 0;
	overflow: hidden;

	p.copyright {
		margin-bottom: $margin/2;
		text-align: center;
	}

	a {
		color: $trim-link-colour;
		&:hover { color: $trim-link-hover-colour; }
	}

	nav.trim {
		ul {
			margin: 0;
			text-align: center;

			li {
				display: inline-block;
				margin: 0 $margin/2;
			}
		}
	}

	@include min-screen-width(tablet-portrait) {
		p.copyright {
			float: right;
			margin-bottom: 0;
		}
		nav.trim {
			float: left;

			ul {
				text-align: left;

				li {
					display: block;
					float: left;
					margin: 0 $margin 0 0;
				}
			}
		}
	}
}