/****************************************************
* Forms
****************************************************/
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	@include border-radius(2px);
	@include box-shadow(inset 0 1px 2px rgba(0,0,0,0.2));
	height: 36px;
	padding: 7px;
	font: {
		family: inherit;
		size: 13px;
	}
	line-height: $site-line-height;
	color: inherit;
	width: 100%;
	border: none;
}

textarea, select[size], select[multiple] {
	height: auto;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
	cursor: not-allowed;
	background-color: #999;
	@include opacity(0.5);

	&:hover {
		background-color: #999;
	}
}

form {

	fieldset {
		border: $border solid #DDD;
		padding: $margin;
		margin: 0;
		margin-bottom: $margin;
	}

	ul {
		padding: 0 !important;
		list-style: none !important;

		li {
			font-size: $site-text-size;
			line-height: $site-line-height;
			margin-bottom: 15px;
		}
	}

	br {
		display: none;
	}

	label {
		color: $form-label-text-colour;
		display: block;
		margin-bottom: 5px;
		position: relative;
	}
}


/****************************************************
* Contact Form 7
****************************************************/
.wpcf7 {
	margin: 0;
	padding: 0;

	.wpcf7-response-output {
		margin: 0 0 $margin 0;
		padding: 10px 13px;
	}

	.wpcf7-mail-sent-ok {
		@include border-radius(3px);
		border: none;
		background: $notice-success-background-colour;
		color: $notice-success-text-colour;
	}

	.wpcf7-spam-blocked,
	.wpcf7-mail-sent-ng,
	.wpcf7-validation-errors {
		@include border-radius(3px);
		border: none;
		background: $notice-error-background-colour;
		color: $notice-error-text-colour;
	}

	.wpcf7-form-control-wrap {
		display: block;
	}

	.wpcf7-not-valid-tip-no-ajax,
	.wpcf7-not-valid-tip {
		@include border-radius(3px);
		position: absolute;
		top: 6px;
		right: 6px;
		left: auto;
		width: auto;
		border: none;
		background: $notice-warning-background-colour;
		color: $notice-warning-text-colour;
		padding: 0 6px;
		font-size: 11px;
		height: 24px;
		line-height: 24px;
	}
}