/****************************************************
* Global Tags
****************************************************/
* {
	@include box-sizing(border-box);
}

body {
	background-color: $body-background-colour;
}

::selection {
	background-color: rgba(0,0,0,0.3);
	color: #FFF;
}

/****************************************************
* Layout
****************************************************/
#site {
	width: 100%;

	&.narrow {
		max-width: $site-width + $gutter*2;
		margin: 0 auto;
		@include box-shadow(0 1px 3px rgba(0,0,0,0.3));
	}

	&.wide {
		max-width: none !important;
	}
}


/****************************************************
* Global Classes
****************************************************/
.left { float: left; }
.right { float: right; }
.textleft	{ text-align: left; }
.textright	{ text-align: right; }
.textcenter	{ text-align: center; }

.hidden {
	display: none;
	visibility: hidden;
}

.unstyled {
	list-style: none;
	padding: 0;
}

.clearfix {
	@include clearfix();
}


/****************************************************
* Narrow
****************************************************/
.narrow {
	width: 100%;
	margin: 0 auto;

	@include min-screen-width(tablet-portrait) { max-width: 75%; }
	@include min-screen-width(tablet-landscape) { max-width: 60%; }
}


/****************************************************
* Links
****************************************************/
ul.links,
ol.links {
	font-size: 0.857em;

	li {
		list-style:none;
		margin-bottom: 10px;
		background: $list-links-li-background-colour;
		@include border-radius(3px);
		padding: 7px 10px;
		line-height: 1.2em;
	}
}


/****************************************************
* Tables
****************************************************/
table {
	width: 100%;

	td,
	th {
		border: $border solid #f2f2f2;
		padding: 3px;
		text-align: left;
	}
}


/****************************************************
* Definition Lists
****************************************************/
dl {
	@include clearfix;

	dd {
		margin: 0 0 $margin/2 $margin;
	}

	&.tabular {

		dt {
			float: left;
			clear: left;
			width: 30%;
			text-align: right;
			margin: 0 4% 10px 0;

			&:last-of-type { margin-bottom: 0 }
		}

		dd {
			float: left;
			width: 66%;
			margin: 0 0 10px 0;
			padding-left: 4%;
			border-left: $border solid $dl-tabular-border-left-colour;

			&:last-of-type { margin-bottom: 0 }
		}
	}
}


/****************************************************
* Pagination
****************************************************/
nav.pagination {

	&.archive {
		@include clearfix;
		margin: $gutter 0;

		a {
			display: block;
		}

		.icon {
			@include transition(background-color 0.25s);
			@include icon_style(40px);
			background-color: $accent;
			color: white;
		}

		.prev {
			float: left;
			margin-right: 10px;
		}

		.next {
			float: left;
		}
	}

	&.pages {

		a {
			margin-left: 3px;
		}
	}
}


/****************************************************
* Comments
****************************************************/
#comments {

	.commentlist {
		list-style: none;

		.comment {
			margin-bottom: $gutter;

			header {
				background: $comment-header-background;
				overflow: hidden;
				margin-bottom: 1px;
				padding: 12px;
				position: relative;
				padding-right: 119px;

				img.avatar {
					@include icon_style(60px);
					display: none;
					position: absolute;
					top: 0;
					left: 0;
				}

				h4 {
					margin-bottom: 0;
					line-height: 20px;
				}

				.datetime {
					font-size: 11px;
					margin: 0;
					line-height: 16px;
				}

				.actions {
					list-style: none;
					position: absolute;
					right: 12px;
					top: 12px;

					li {
						float: right;
						margin-left: 5px;

						.square {
							@include icon_style(28px);
						}
					}
				}
			}

			.typography {
				background: $comment-content-background;
				padding: $margin;

				*:last-child { margin-bottom: 0; }
			}

			&.bypostauthor {
				margin-bottom: $gutter;
			}

			&.max-depth {
				header {
					padding-right: 104px;
				}
			}
		}

		.children {
			list-style: none;
		}

		@include min-screen-width(mobile-landscape) {

			.children {
				padding-left: $gutter;
			}

			.comment {
				header {
					padding-left: 72px;
					padding-right: 150px;

					img.avatar {
						display: block;
					}

					.actions {
						li {
							margin-left: 10px;
							.square {
								@include icon_style(36px);
							}
						}
					}
				}
			}
		}
	}
}

/****************************************************
* Social Icons
****************************************************/
.social-icon {
	@include icon_style(30px);
	color: $social-icon-text-colour;
	background-color: $social-icon-background-colour;

	&:hover {
		color: #FFF !important;
		background-color: $social-icon-background-colour;
	}

	&.behance:hover			{ background-color: #1769FF !important; }
	&.deviantart:hover		{ background-color: #B3C432 !important; }
	&.dribbble:hover		{ background-color: #ea4c89 !important; }
	&.facebook:hover		{ background-color: #3664A2 !important; }
	&.flickr:hover			{ background-color: #ff0084 !important; }
	&.forrst:hover			{ background-color: #4fb64b !important; }
	&.github:hover			{ background-color: #444444 !important; }
	&.googleplus:hover		{ background-color: #dd4b39 !important; }
	&.instagram:hover		{ background-color: #3f729b !important; }
	&.lastfm:hover			{ background-color: #D51007 !important; }
	&.linkedin:hover		{ background-color: #007bb6 !important; }
	&.pinterest:hover		{ background-color: #cb2027 !important; }
	&.rss:hover				{ background-color: #FB9E3A !important; }
	&.soundcloud:hover		{ background-color: #ff6600 !important; }
	&.tumblr:hover			{ background-color: #2c4762 !important; }
	&.twitter:hover			{ background-color: #00aced !important; }
	&.vimeo:hover			{ background-color: #44bbff !important; }
	&.wordpress:hover		{ background-color: #21759b !important; }
	&.youtube:hover			{ background-color: #cc181e !important; }
}