/****************************************************
* Basic
****************************************************/
body {
	color: $site-text-colour;
	font: {
		family: $copy-font, Arial, Helvetica, sans-serif;
		size: $site-text-size;
	}
	line-height: $site-line-height;
}

h1, h2, h3, h4, h5, h6, ul, ol, dl, p, address, figure, pre, fieldset, table { margin-bottom: $margin; }


/****************************************************
* Anchors
****************************************************/
a {
	@include transition(color 0.25s, background-color 0.25s);
	color: $accent;
	text-decoration: none;

	&:hover {
		color: darken($accent,10%);
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}
}


/****************************************************
* Headings
****************************************************/
h1, h2, h3, h4, h5, h6 {
	@include hyphens(auto);
	font: {
		family: $detail-font, Arial, Helvetica, sans-serif;
	}
	color: $heading-text-colour;
	line-height: 1.3em;
	margin-top: 0;
	word-wrap: break-word;
}

h1, .h1 { font-size: $heading-h1-text-size; }
h2, .h2 { font-size: $heading-h2-text-size; }
h3, .h3 { font-size: $heading-h3-text-size; }
h4, .h4 { font-size: $heading-h4-text-size; }
h5, .h5 { font-size: $heading-h5-text-size; }
h6, .h6 { font-size: $heading-h6-text-size; }


/****************************************************
* Content Typography
****************************************************/
.typography,
.textwidget {

	ul,
	ol {
		padding-left: 25px;

		ul,
		ol {
			margin-bottom: 0;
		}

	}

	.alignnone {
		margin: 4px 0 $margin 0;
	}

	.alignleft {
		float: left;
		margin: 4px $margin $margin 0;
	}

	.alignright {
		float: right;
		margin: 4px 0 $margin $margin;
	}

	.aligncenter {
		display: block;
		margin: 4px auto 0 auto;
	}

	.wp-caption {
		background: #FFF;
		border: 1px solid #F2F2F2;
		max-width: 100%;
		padding: 10px;
		text-align: center;

		img {
			display: block;
		}

		.alignnone {
			margin: 5px 20px 20px 0;
		}

		.alignleft {
			margin: 5px 20px 20px 0;
		}

		.alignright {
			margin: 5px 0 20px 20px;
		}

		.wp-caption-text {
			margin: 10px 0 0 0;

			p {
				margin-bottom: 0;
			}
		}
	}

	.gallery {
		.gallery-caption {
			font-size: $site-text-size - 2;
			line-height: $site-line-height;
		}
	}
}