<div class="slider-revolution-update-list">

	<h3 class="version-number">Version 4.2.5 SkyWood (12th March 2014)</h3>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>Slide Link zIndex issues and Slide Link Resizing issues fixed</li>
		<li>Individual Slide Timer has been fixed. Broken since version 4.2.4</li>
	</ul>
	

	<h3 class="version-number">Version 4.2.4 SkyWood (10th March 2014)</h3>
	<div class="change"><strong style="font-weight:700">CHANGES</strong></div>
	<ul>
		<li>Updated Russian Translation / Language Pack</li>
		<li>Improved Plugin Processes, Removed Script Intervals and Timers for Better CPU Management (30-50% less CPU Usage)</li>
	</ul>


	<h3 class="version-number">Version 4.2.3 SkyWood (3th March 2014)</h3>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>BugFix in Russian Language causing the error "setting layer_caption not found"</li>
	</ul>
	
	
	<h3 class="version-number">Version 4.2.2 SkyWood (28th February 2014)</h3>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>In case HTML5 Video Js Loads later then Meta of Video will not fire the Auto Play Option</li>
		<li>Changed update check. In some situations user will not see that a new update is available.</li>
	</ul>
	
	
	<h3 class="version-number">Version 4.2.1 SkyWood (27th February 2014)</h3>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>Fixed YouTube Api, changed youtube api load to permanent Https</li>
		<li>Fixed HTML5 Video Preload. A Waiting process added for Video JS and Stream preloads</li>
		<li>Fixed Vimeo API Preloads</li>
		<li>Fixed "Unclickable" Notice for Auto Updates and Premium Support</li>
	</ul>

	<hr>

	<h3 class="version-number">Version 4.2 SkyWood (25th February 2014)</h3>
	<div class="newfeature"><strong style="font-weight:700">NEW FEATURES</strong></div>
	<ul>
		<li>New Activation process added</li>
		<li>New Automatic Updates process added</li>
		<li>Added Char, Word and Line Based Text animation to improve the Visual Experience on the Layer Animations</li>
		<li>Added 5 Different Loader Spinner with Live Preview Selector</li>
		<li>Added a new Shortcode type. Now [rev_slider slider_alias] and also [rev_slider alias="slider_alias"] works.</li>
		<li>Added polish language thanks to Dawid Dudek (www.supportitc.pl)</li>
		<li>Meta Box for RevSlider now available in all Custom Post Types</li>
		<li>Added remove Thumbnail in Slide Editor</li>
		<li>Added white-space, maxwidth and maxheight options</li>
	</ul>

	<div class="change"><strong style="font-weight:700">CHANGES</strong></div>
	<ul>
		<li>Improved Loading Speed. Slider loads over 1-2 sec quicker than before.</li>
		<li>Improved Lazy Loading, to load Images and Layer images on demand. Intelligent Preloading of next slide Elements.</li>
		<li>Removed function mysql_insert_id() that will be deprecated in php version 5.5.x</li>
		<li>Auto Thumbnail Function, small copy of Slider Image, or Colorer BG used as Default.</li>
	</ul>

	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>Fixed YouTube Api</li>
		<li>CSS editor bugfix where custom styles were set into other choosen layers</li>
		<li>Added missing argument for WPML, this enables WPML functionality in using the specific post feature</li>
		<li>Small adjustment for css editor that caused problems on some installations</li>
		<li>Check if ssl on external jquery library & css include</li>
		<li>Fixed Overlapping layers if Mixed Align Mode used in Slide</li>
		<li>Fixed Pause/Resume function if Navigation elements has been hovered.</li>
		<li>MultiSite Style Settings -  Minor Workaround added till next Major Release</li>
	</ul>

	<hr>



	<h3 class="version-number">Version 4.1.5 SkyWood</h3>
	<div class="newfeature"><strong style="font-weight:700">NEW FEATURES</strong></div>
	<ul>
		<li>Added Chinese translation thanks to lastme (http://www.lastme.com/)</li>
	</ul>
	<div class="change"><strong style="font-weight:700">CHANGES</strong></div>
	<ul>
		<li>Removed function mysql_insert_id() that will be deprecated in php version 5.5.x</li>
	</ul>



	<hr>

	<h3 class="version-number">Version 4.1.4 SkyWood</h3>
	<div class="newfeature"><strong style="font-weight:700">NEW FEATURES</strong></div>
	<ul>
		<li>ID, Class, Title & Rel attribute for Links on images added</li>
		<li>Added files so that google does not index internal files</li>
	</ul>
	<div class="change"><strong style="font-weight:700">CHANGES</strong></div>
	<ul>
		<li>German language files recreated</li>
		<li>instead of a fatal error, the none existence of ZipArchive will now give a more gently message</li>
	</ul>




		<hr>


	<h3 class="version-number">Version 4.1.3 SkyWood</h3>
	<div class="change"><strong style="font-weight:700">CHANGES</strong></div>
	<ul>
		<li>Imported images through slider import create now also the thumbnails</li>
	</ul>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>stripslashes problem in global styles at slider imports fixed</li>
		<li>multisite import of slider now correctly imports images</li>
		<li>selecting thumbnails/video overlays now work on multisites</li>
	</ul>



	<hr>


	<h3 class="version-number">Version 4.1.2 SkyWood</h3>
	<div class="change"><strong style="font-weight:700">CHANGES</strong></div>
	<ul>
		<li>Deleting Posts inside a Post Slider will now trash instead of deleting them</li>
	</ul>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>Fixed a z-index issue where the-events-calendar set the jquery-ui-dialog overlay over the Slider Revolution Dialogs</li>
		<li>Http / Https loading of API’S in the right format depending on the current URL</li>
		<li>Issue solved with the HTML5 Video Sizing</li>
		<li>YouTube Api does not work without the origin=http://yourdomain any more !!
		   <ul>
			   	<li>The slider adds this now automatically on every YouTube video.</li>
			    <li>NOTE: Please note that this only works on live servers and not local installations.</li>
				<li>For example: autoplay will not work on local machines but on your live servers</li>
		   </ul>
		</li>
	</ul>


		<hr>



	<h3 class="version-number">Version 4.1.1 SkyWood</h3>
	<div class="newfeature"><strong style="font-weight:700">NEW FEATURES</strong></div>
	<ul>
		<li>New API Method: rev redraw for Redrawing the current Slide in case, slider is included some animated container.</li>
		<li>New tab in Slider Settings: Reset Options.
			<ul>
				<li>Reset all Transitions of this Slider to a choosen one</li>
				<li>Reset all Transition Durations of this Slider to a choosen one</li>
				<li>New Dropdown on Post/Pages for revslider Shortcodes (found in Visual mode of Editor)</li>
			</ul>
		</li>
	</ul>
	<div class="change"><strong style="font-weight:700">CHANGES</strong></div>
	<ul>
		<li>New button in Slide Edit mode to go back to Slide List of Slider</li>
	</ul>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>Remove of Aspect Ratio and Dotted Overlay if Cover was not choosen in HTML5 Videos</li>
		<li>Fixed a bug on import of Slider where custom arrows might break</li>
		<li>Fixed a bug for Missing static-layers.css </li>
		<li>Fixed FF and IE10 Animation issues</li>
		<li>Fixed Wrong calculated Center positions if Caption has CSS3 Animations associated </li>
	</ul>


	<hr>



	<h3 class="version-number">Version 4.1 SkyWood</h3>
	<div class="newfeature"><strong style="font-weight:700">NEW FEATURES</strong></div>
	<ul>
		<li>Ken Burns Effect (align start/end) bg Fit (start/end), Speed and easing</li>
		<li>Min Height for Fullscreen Sliders</li>
		<li>Fullscreen HTML5 Videos with new functions</li>
		<li>Cover the whole HTML5 Videoscreen (no black borders)</li>
		<li>Dotted overlays on HTML5 Videos with cover & slide backgrounds</li>
		<li>Dotted Overlay on Background Images (global setting)</li>
		<li>Mute option on Videos</li>
		<li>Force Rewind of Videos on slideview</li>
	</ul>
	<div class="change"><strong style="font-weight:700">CHANGES</strong></div>
	<ul>
		<li>Fallback to old export if zip extension is not installed on server</li>
	</ul>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>Post meta tag fix for plugin: Types - Complete Solution for Custom Fields and Types</li>
	</ul>




	<hr>


	<h3 class="version-number">Version 4.0.6 SkyWood</h3>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>Force Fullwidth Offsets</li>
		<li>Added FF Protection for 3d Animated Elements</li>
		<li>Update GreenSock Engine with Protection for FF25 Animations</li>
		<li>IE8 HALO Effect Solved</li>
	</ul>



	<hr>

	<h3 class="version-number">Version 4.0.5 SkyWood</h3>
	<div class="newfeature"><strong style="font-weight:700">NEW FEATURES</strong></div>
	<ul>
		<li>New Background-Image options in slider settings under Appearance Tab</li>
		<li>Usage of placeholder %link% and %meta:somemeta% for Slide Link in General Slide Settings</li>
	</ul>
	<div class="change"><strong style="font-weight:700">CHANGES</strong></div>
	<ul>
		<li>Added fallback for dynamic-layers.css (if not writable, load layers.php instead)</li>
	</ul>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>Fixed a bug where no layers could be added to Slides</li>
		<li>Fixed a bug where Post Sliders do not show the correct thumbnails in navigation</li>
		<li>Fixed a few texts for better multilanguage support</li>
	</ul>


		<hr>



	<h3 class="version-number">Version 4.0.4 SkyWood</h3>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>inserted two missing functions</li>
	</ul>

	<hr>


	<h3 class="version-number">Version 4.0.3 SkyWood</h3>
	<div class="change">CHNAGES</div>
	<ul>
		<li>the option Responsive Through All Levels in layers is now checked as default</li>
		<li>set default background-position of main slide image to center top</li>
	</ul>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>bug in interpreting the css fixed</li>
		<li>fixed a bug that occures on some video layers and that may brake the edit slide page</li>
		<li>fixed a bug with Post Sliders not being shown with the template Slider styles</li>
	</ul>



	<hr>

	<h3 class="version-number">Version 4.0.2 SkyWood</h3>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>WPML was not working correctly, fixed "Wrong Request" bug</li>
	</ul>


	<hr>

	<h3 class="version-number">Version 4.0.1 SkyWood</h3>
	<div class="change"><strong style="font-weight:700">CHANGES</strong></div>
	<ul>
		<li>add revision to css/js files to prevent caching issues</li>
	</ul>



	<hr>

	<h3 class="version-number">Version 4.0 SkyWood</h3>
	<div class="newfeature"><strong style="font-weight:700">NEW FEATURES</strong></div>
	<ul>
		<li>New Live Style Editor (Simple and Advanced)</li>
		<li>Custom Caption Creator</li>
		<li>Live Caption Animation Viewer in Editor</li>
		<li>Export Feature (with Images and Static/Dynamic Styles and with Custom Animations)</li>
		<li>New Main Image Aligns, Repeating and Sizing (like center,center, repeat-x,y,no, cover and container and many more)</li>
		<li>New Layout Viewer ( to see differences between, fullwidth, fullscreen, custom) </li>
		<li>Only Styles are loaded which used in Current Slides</li>
		<li>template slider for post slider added</li>
		<li>allow external images as slide backgrounds</li>
		<li>new options for videos</li>
		<li>many other new options added</li>
		<li>added relpace url's neer export / import slider</li>
		<li>new options for hiding thumbs/bullets/arrows on mobile</li>
		<li>new option force fill width in autoresponsive mode</li>
		<li>id, class, rel tag can be set for each element</li>
		<li>alt tag for images can be set</li>
		<li>layers can now be locked</li>
		<li>layer images can now be resized</li>
		<li>Added new Flat Transitions</li>
		<li>Added FullScreen and FullWidth Forcing in Boxed Themes</li>
		<li>Added Thumbnail for Videos</li>
		<li>Tooltip for Titles</li>
		<li>Shadow Prelayouts</li>
		<li>Move Tabs to Change Slide Order</li>
		<li>Published / Unpublished Slides also Date / Time Dependent</li>
		<li>Loop and Controlless HTML5 Videos</li>
		<li>Play Video only First Time, then Hold</li>
		<li>Linear Resizing of Thumbs</li>
		<li>Unlimited Containers for Offsetting Fullscreen Height </li>
	</ul>
	<div class="change"><strong style="font-weight:700">CHANGES</strong></div>
	<ul>
		<li>Style of Backend in Flat Style</li>
		<li>Much cleaner interface</li>
		<li>Load Plugins and Revolution Slider splitter, dependent on Other Plugins </li>
		<li>Jquery.themepunch.revolution.min.js loads now in the footer (Optional)</li>
		<li>Main transitions are now listed in flat and premium transitions</li>
	</ul>
	<div class="bugfix"><strong style="font-weight:700">BUGFIXES</strong></div>
	<ul>
		<li>many small/mayor bug fixes</li>
		<li>added error messages on some situations in slider by post view.</li>
		<li>fixed css bug that made the screens overlap with wordpress error messages</li>
		<li>fixed image positioning in edit layers js file</li>
		<li>fixed images url's output in https websites</li>
	</ul>
</div>