.cuztom{ width: 100%; }

.cuztom .cuztom-box-description{ padding-bottom: 10px; border-bottom: 1px solid #dfdfdf; font-style: italic; }
.cuztom .cuztom-tabs{ padding-top: 10px; }
.cuztom .js-cuztom-remove-media{ display: inline-block; margin-left: 10px; }
.cuztom .cuztom-ajax-save{ display: inline-block; vertical-align: middle; height: 23px; }

/* Wraps */
.cuztom .padding-wrap{ padding: 5px 0 0 0; }
.cuztom .wp-editor-wrap{ margin-bottom: 10px; }
.cuztom .cuztom-checkboxes-wrap{ width: 30%; margin-right: 10px; display: inline-block; vertical-align: middle; max-height: 100px; overflow-y: scroll; overflow-x: hidden; }
.cuztom .cuztom-checkbox-wrap{ width: 10%; margin-right: 10px; display: inline-block; vertical-align: middle; }

/* Tabs */
.cuztom .cuztom-tabs .ui-state-active{ border-color: #ccc; background: #fff; }
.cuztom .cuztom-tabs .ui-state-active a{ color: #d54e21; }

/* Table */
.cuztom .cuztom-table{ width: 100%; margin-top: 0; }
.cuztom .cuztom-table th{ font-weight: normal; text-align: left; vertical-align: top; }
.cuztom .cuztom-table th label{ font-size: 12px; font-weight: bold; }
.cuztom .cuztom-table th .cuztom-required{ color: red; }
.cuztom .cuztom-table th .cuztom-description,
.cuztom .cuztom-table td .cuztom-explanation{ font-size: 10px; font-style: italic; font-weight: normal; }
.cuztom .cuztom-table td .cuztom-explanation{ display: block; }

/* Sortable */
.cuztom .cuztom-handle-sortable,
.cuztom .cuztom-remove-sortable{ display: inline-block; vertical-align: middle; height: 16px; width: 16px; background: url('../images/jquery-ui/ui-icons_454545_256x240.png') no-repeat; }
.cuztom .cuztom-handle-sortable{ background-position: -132px -48px; cursor: move; }
.cuztom .cuztom-remove-sortable{ background-position: -77px -128px; cursor: pointer; }
.cuztom .cuztom-sortable-item fieldset{ display: inline-block; vertical-align: middle; border: 1px solid #ccc; padding: 10px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; width: 90%; }

/* Input */
.cuztom textarea, 
.cuztom input[type="text"]{ width: 80%; display: inline-block; vertical-align: middle; }
.cuztom textarea{ height: 100px; }
.cuztom select{ min-width: 160px; }
.cuztom .cuztom-preview{ width: 100%; display: block; margin-top: 8px; }
.cuztom .cuztom-preview img{ max-width: 100%; height: auto; }
.cuztom .mceContentBody, 
.cuztom .mceIframeContainer{ background: #fff !important; }
.cuztom .mceStatusbar{ width: 100% !important; padding-left: 0 !important; text-indent: 10px; }
.cuztom.form-field input[type="button"]{ width: auto; }

/* Misc */
.cuztom .cuztom-mime{ padding: 5px 0 5px 25px; display: block; background: url('../images/mime/file.png') 0 2px no-repeat; }
.cuztom .wp-picker-container{ width: 100%; }
.cuztom input[type="text"].wp-color-picker,
.cuztom .wp-picker-clear{ width: auto; }

/* Side meta box */
#side-sortables .cuztom-table{}
#side-sortables .cuztom-table th{ padding: 0 0 10px 0; width: 30%; }
#side-sortables .cuztom-table td{ padding: 0 0 10px 0; width: 70%; }
#side-sortables .cuztom-table .cuztom-description,
#side-sortables .cuztom-table .cuztom-explanation{ display: none; }
#side-sortables .cuztom-table .cuztom-input,
#side-sortables .cuztom-table .cuztom-checkbox-wrap,
#side-sortables .cuztom-table .cuztom-checkboxes-wrap{ width: 100%; }
#side-sortables .cuztom-table input[type="radio"].cuztom-input,
#side-sortables .cuztom-table input[type="checkbox"].cuztom-input{ width: auto; }
#side-sortables .cuztom-table .cuztom-colorpicker{ width: 80%; }
#side-sortables .cuztom-table .cuztom-ajax-save{ clear: both; }
#side-sortables .cuztom-table .cuztom-remove-media{ margin-left: 0; }