/****************************************************
* Filter
****************************************************/
nav.filter {
	margin-bottom: $gutter*1.5;
	padding: 5px 5px 0 5px;
	background: #f2f2f2;

	ul {
		@include clearfix;
		list-style: none;
		margin-bottom: 0;

		li {
			float: left;
			margin-bottom: 5px;
			margin-right: 5px;

			a {
				background-color: $portfolio-filter-link-background-colour;
				color: $portfolio-filter-link-text-colour;
				display: block;
				font-size: $site-text-size - 1;
				line-height: 1em;
				padding: 10px 15px;
				text-transform: uppercase;

				&:hover {
					color: $portfolio-filter-link-text-hover-colour;
					background-color: $portfolio-filter-link-background-hover-colour;
				}
			}

			&.selected {
				a {
					color: $portfolio-filter-link-text-hover-colour;
					background-color: $portfolio-filter-link-background-hover-colour;
				}
			}
		}
	}
}


/****************************************************
* Portfolio
****************************************************/
article.portfolio {

	h3 {
		font-size: $site-text-size + 3;
	}

	&.single {

		header {
			margin-bottom: $gutter*1.5;
		}
	}

	&.archive {

		.image {
			position: relative;
			overflow: hidden;

			img {
				display: block;
			}

			.hover {
				@include transition(top 0.25s);
				text-align: center;
				position: absolute;
				top: 100%;
				bottom: 0;
				width: 100%;
				background: rgba(0,0,0,0.5);

				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}

				.action {
					@include icon_style(40px);
					@include transition(opacity 0.25s);
					@include opacity(0.5);
					background-color: black;
					vertical-align: middle;
					display: inline-block;
					margin: 0 1px;
					color: #FFF !important;

					&:hover {
						@include opacity(1);
					}
				}
			}

			&:hover {
				.hover {
					top: 0;
				}
			}
		}

		&.slat{
			margin-left: auto;
			margin-right: auto;
			max-width: 450px;
			background-color: $portfolio-article-slat-background-colour;

			.typography {
				@include clearfix;
				padding: $gutter;

				.button {
					float: left;
					margin-right: 15px;
				}

				.love {
					float: left;
					margin: 0;
					line-height: 36px;
				}
			}

			@include min-screen-width(tablet-portrait) {
				max-width: none;

				.typography {

					padding: $gutter;
					padding-left: 0;
				}
			}
		}

		&.grid {
			margin-left: auto;
			margin-right: auto;
			max-width: 450px;

			.meta {
				@include clearfix;
				margin-top: 10px;

				.title {
					margin-bottom: 0;
				}

				.love {
					margin: 0 10px 0 0;
					font-size: $site-text-size - 2;
					float: left;
				}

				.datetime {
					margin-bottom: 0;
					font-size: $site-text-size - 2;
					float: left;
				}
			}

			@include min-screen-width(tablet-portrait) {
				max-width: none;
			}
		}
	}
}


/****************************************************
* Grid Fixes
****************************************************/
.archive.portfolio.grid.shortcode {
	article.portfolio.grid {
		margin-bottom: $gutter;
	}
}


/****************************************************
* Portfolio Isotope
****************************************************/
.portfolio.isotope-grid {

	&.slat {
		margin-left: 0;
	}

	.isotope-item {
		margin-bottom: $gutter;
		width: 100%;
	}

	@include min-screen-width(tablet-portrait) {
		margin-left: -$gutter;

		&.grid {

			.isotope-item {
				padding-left: $gutter;
				float: left;
			}

			&.portfolio-2c { .isotope-item { width: 49.95%; } }
			&.portfolio-3c { .isotope-item { width: 33.28333%; } }
			&.portfolio-4c { .isotope-item { width: 24.95%; } }
			&.portfolio-5c { .isotope-item { width: 19.95%; } }
		}
	}
}