/****************************************************
* Post
****************************************************/

article.post {

	header {
		margin-bottom: $gutter;

		img {
			display: block;
			margin: 0 auto;
		}

		.notice {
			margin-bottom: 0;
		}
	}

	h2.h1 {
		margin-bottom: $gutter;
	}

	.meta {
		background: $blog-meta-background-colour;
		margin-bottom: 1px;
		padding: 10px;
		padding-left: 51px;
		font-size: 11px;
		position: relative;

		.icon {
			@include icon_style(40px);
			position: absolute;
			background: $blog-meta-icon-background-colour;
			left: 0;
			top: 0;
			bottom: 0;
		}

		&.datetime {
			margin-bottom: $margin;
			p {
				margin-bottom: 0;
			}
		}

		&.author {
			min-height: 80px;
			padding: 13px;
			padding-right: 71px;
			line-height: 1.7em;

			img.avatar {
				@include icon_style(80px);
				display: none;
				position: absolute;
				top: 0;
				left: 0;
			}

			.button {
				position: absolute;
				right: 22px;
				top: 22px;
			}

			@include min-screen-width(mobile-landscape) {

				img.avatar {
					display: block;
				}

				&.avatar {
					padding-left: 93px;
				}
			}
		}

		&.category {
			ul {
				@include clearfix;
				margin-bottom: 0;
				list-style: none;

				li {
					float: left;
					margin-right: 10px;
				}
			}
		}

		&.tags {
			@include clearfix;
			padding: {
				top: 9px;
				bottom: 2px;
			}

			a {
				@include tag_style()
			}
		}
	}

	&.archive {
		position: relative;
		margin-bottom: $gutter;
		padding-bottom: $gutter;
		border-bottom: 1px solid $hr-line-colour;

		header {
			margin-bottom: $margin;
		}

		.mini-meta-holder {
			@include clearfix();
			text-align: center;

			.meta {
				padding: 5px 11px;
				float: left;
				margin-right: 10px;
			}

			.datetime {

				.month {
					@include opacity(0.7);
					text-transform: uppercase;
					margin-right: 5px;
				}

				.day {
					font-weight: 700;
				}
			}

			.postformat {
				margin: 0;
				padding: 0;

				a {
					color: inherit !important;
					display: block;

					&:hover {
						background-color: rgba(0,0,0,0.075);
					}
				}

				.post-format-icon {
					@include icon_style(30px);
					font-size: 14px;
				}
			}
		}

		.tab {
			@include icon_style($blog-archive-article-tab-size);
			display: none;
			position: absolute;
			top: $margin;
			left: -$blog-archive-article-tab-size - $border;
			background: $blog-archive-article-tab-background-colour;
			color: $blog-archive-article-tab-text-colour;

			a {
				display: block;
				color: $blog-archive-article-tab-text-colour;
			}
		}

		.continue {
			margin-bottom: 0;
			line-height: 28px;

			.button {
				margin-right: $margin / 2;
			}
		}

		@include min-screen-width(mobile-landscape) {
			margin-bottom: $gutter*1.5;
			padding-bottom: $gutter*1.5;

			.content {
				position: relative;
				padding-left: 85px;
				min-height: 110px;
			}

			.mini-meta-holder {
				position: absolute;
				top: 6px;
				left: 0;
				width: 65px;
				text-align: center;

				.meta {
					float: none;
					margin-right: 0;
				}

				.datetime {
					padding: $margin/2;
					margin-bottom: 9px;

					.month {
						@include opacity(0.7);
						display: block;
						line-height: 12px;
						font-size: 12px;
						margin-bottom: 1px;
						margin-right: 0;
					}

					.day {
						font-size: 32px;
						line-height: 32px;
						display: block;
					}
				}

				.postformat {

					.post-format-icon {
						width: 65px;
						line-height: 30px;
					}
				}
			}
		}
	}

	&.format-link {
		header {
			padding: $margin;

			h2 { margin-bottom: $margin / 2; }

			p.url {
				@include opacity(0.6);
				margin-bottom: 0;
				font-size: 11px;
			}
		}
	}

	&.format-gallery {
		header {
			.notice {
				margin: $margin;
			}
		}
	}

	&.format-video {
		header {
			.notice {
				margin: $margin;
			}
		}
	}

	&.format-audio {
		header {
			padding: $margin;
		}
	}

	&.format-quote {
		header {
			padding: $margin;

			figure {
				margin-bottom: 0;

				p.author {
					@include opacity(0.6);
					margin-bottom: 0;
				}
			}
		}
	}

	&.sticky {
		background-color: transparent;
	}
}


/****************************************************
* Author Info
****************************************************/
body.archive.author {

	.author-info {
		padding: $gutter;
		min-height: 100 + ($gutter * 2);
		position: relative;

		.author-avatar {
			margin-bottom: $margin;

			img {
				@include box-shadow(0 1px 3px rgba(0,0,0,0.3));
				width: 100px;
				display: block;
				border: 5px solid #FFF;
				margin: 0 auto;
			}
		}

		.author-description {
			text-align: center;

			h2 {
				margin-bottom: 10px;
			}

			*:last-child {
				margin-bottom: 0;
			}
		}

		@include min-screen-width(mobile-landscape) {
			padding-left: 160px;

			.author-avatar {
				position: absolute;
				top: 30px;
				left: 30px;
				width: 100px;

				img {
					@include box-shadow(0 1px 3px rgba(0,0,0,0.3));
					display: block;
					border: 5px solid #FFF;
				}
			}

			.author-description {

				h2 {
					line-height: 1em;
				}

				text-align: left;
			}
		}
	}
}

/****************************************************
* Post Shortcode
****************************************************/
.archive.post.grid.shortcode {

	article {
		margin-bottom: $gutter;
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;

		.image {
			overflow: hidden;
			position: relative;

			a {
				display: block;
				background: black;
				padding-top: 56.25%;
				position: relative;

				.canvas {
					@include backface-visibility(hidden);
					@include transition(opacity 0.25s);
					position: absolute;
					width: 100%;
					top: 0;
					bottom: 0;
					background-color: #EEE;
					background-image: url('../images/missing.png');
					background-position: center center;
					background-repeat: no-repeat;

					&.has-image {
						background-size: cover;
					}

					&:hover {
						@include opacity(0.5);
					}
				}
			}
		}

		.content {

			.title {
				margin-bottom: 0;
			}

			.datetime {
				@include opacity(0.6);
				font-size: 11px;
				margin-bottom: $margin / 2;
			}
		}

		&.boxed {

			.content {
				padding: $margin;

				*:last-child {
					margin-bottom: 0;
				}
			}
		}

		&.unboxed {

			.image {
				margin-bottom: $margin;
			}
		}

		@include min-screen-width(tablet-portrait) {
			margin-left: 0;
			margin-right: 0;
			max-width: none;
		}
	}
}


/****************************************************
* Post Isotope
****************************************************/
.post.isotope-grid {

	.isotope-item {
		margin-bottom: $gutter;

		article {
			@include box-shadow(0 1px 2px rgba(0,0,0,0.2));
			border: none;
			background: #FFF;
			margin: 1px 2px 3px 2px;
			padding-bottom: 0;

			header {
				margin-bottom: 0;
			}

			.content {
				padding: $margin;

				h2 {
					margin-bottom: 10px;
				}

				.mini-meta-holder {
					margin-bottom: $margin;
					position: static;
					width: auto;

					.datetime,
					.postformat {
						float: left;
					}

					.datetime {
						margin: 0 5px 0 0;
						padding: 0 10px;
						line-height: 30px;

						.month {
							display: inline;
							margin-right: 3px;

						}

						.day {
							font-size: 12px;
							line-height: 12px;
							display: inline;
						}
					}

					.postformat {

						i {
							width: 30px;
						}
					}
				}
			}
		}
	}

	@include min-screen-width(tablet-portrait) {
		margin-left: -$gutter;

		.isotope-item {
			margin-right: 0;
			margin-left: 0;
			width: 49.95%;
			padding-left: $gutter;
		}
	}

	@include min-screen-width(tablet-landscape) {
		.isotope-item {
			width: 33.28333%;
		}
	}
}

html.ie8 .post.isotope-grid .isotope-item article {
	border: 1px solid #F2F2F2
}