@charset "utf-8";

// Setup
@import "compass/css3";
@import "libs/mixins";

$accent: #29BDCA;
$icon-size: 50px;

body {
	position: relative;
}

#live-options-toggle {
	@include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.4));
	@include transition(all 0.25s);
	width: $icon-size;
	height: $icon-size;
	line-height: $icon-size;
	text-align: center;
	color: $accent;
	background: #f2f2f2;
	position: fixed;
	top: 200px;
	z-index: 9001;
	cursor: pointer;
	font-size: 20px;

	&.active {
		left: 0;
	}

	&.inactive {
		left: -$icon-size;
	}

	&:hover {
		background: #FFF;
		padding-left: 10px;
		width: $icon-size + 10px;
	}
}

#live-options {
	@include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.4));
	background-color: #f2f2f2;
	bottom: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
	max-height: 100%;
	overflow: scroll;
	left: -225px;
	position: fixed;
	top: 0;
	width: 225px;
	z-index: 9000;

	#lobuttons {
		@include clearfix();
		border-bottom: 1px solid #DDD;
		padding: 15px;

		.button {
			background-color: lighten(#f2f2f2, 3%);
			color: #666 !important;
			float: right;
			font: {
				size: 11px;
				weight: normal;
			}
			padding: 5px 10px;

			&:hover {
				background-color: darken(#f2f2f2, 7%);
			}

			&.disabled {
				@include opacity(0.65);
				cursor: default;

				&:hover {
					background-color: lighten(#f2f2f2, 3%);
				}

				&:active,
				&:focus {
					@include box-shadow(inset 0 -1px 1px rgba(0, 0, 0, 0.3));
				}
			}

			&#loclose {
				float: left;
			}
		}

	}

	#loptions {
		> li {
			font-size: 12px;
			margin: 0;
			padding: 0;

			a.lo-title {
				border: {
					color: #FFF #FFF #DFDFDF;
					style: solid;
					width: 1px 0;
				}
				@include transition(none);
				@include text-shadow(0 1px 0 #FFF);
				background-color: #f2f2f2;
				color: #444;
				display: block;
				font: {
					size: 13px;
					weight: bold;
				}
				padding: 10px 36px 10px 15px;
				position: relative;
				outline: none;

				.icon-chevron-down {
					color: #CCC;
					position: absolute;
					margin-top: -7px;
					right: 10px;
					top: 50%;
				}

				&:hover,
				&.ui-accordion-header-active {
					@include text-shadow(none);
					background-color: $accent;
					border-color: $accent;
					color: #FFF;

					.icon-chevron-down {
						color: #FFF;
					}
				}
			}

			ul {
				background-color: #fafafa;
				border-bottom: 1px solid #DDD;
				display: none;
				list-style: none;
				margin: 0;
				padding: 10px 15px;
			}
		}

		#preview-notice {
			ul {
				padding: 15px;
			}

			p {
				margin: 0 0 15px;

				&:last-child {
					margin-bottom: 0;
				}

				&.lead {
					font-size: 130%;
				}

				strong {
					color: $accent;
				}
			}
		}

		.euged-control-title {
			color: #444;
			display: block;
			font-weight: bold;
			line-height: 24px;
		}

		.euged-control {
			margin: 0 0 8px;
		}

		.euged-control-radio {
			padding: 5px 0 10px;
		}

		fieldset {
			border: none;
			margin: 0;
			padding: 0;
		}

		textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
			border: 1px solid #DDD;
			padding: 7px 10px 6px;

			&:focus {
				@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.2));
			}
		}

		input[type="radio"],
		input[type="checkbox"] {
			margin-right: 8px;
		}



		.wp-picker-container {

			* {
				@include box-sizing(content-box)
			}

			.wp-picker-input-wrap {

				input {
					height: 22px;
					min-height: 0;
					padding: 0 6px;
					font-size: 11px;
				}

				input[type="text"].color-picker-hex {
					width: 55px;
					font-family: monospace;
				}
			}

			.iris-picker {
				width: 176px !important;
				height: 150px !important;
				padding-bottom: 0 !important;

				.iris-square-handle {
					left: -7px;
					top: -7px;
				}

				.iris-square {
					margin-right: 10px;
					width: 130px !important;
					height: 130px !important;
				}

				.iris-slider {
					width: 15px !important;
					height: 130px !important;
				}

				.iris-palette-container {
					display: none;
				}

			}
		}
	}
}