@font-face {
	font-family: 'euged_social';
	src:url('../../../fonts/euged_social.eot');
	src:url('../../../fonts/euged_social.eot?#iefix') format('embedded-opentype'),
		url('../../../fonts/euged_social.woff') format('woff'),
		url('../../../fonts/euged_social.ttf') format('truetype'),
		url('../../../fonts/euged_social.svg#euged_social') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'euged_social';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.social-behance,
.social-deviantart,
.social-dribbble,
.social-facebook,
.social-flickr,
.social-forrst,
.social-github,
.social-googleplus,
.social-instagram,
.social-lastfm,
.social-linkedin,
.social-pinterest,
.social-rss,
.social-soundcloud,
.social-tumblr,
.social-twitter,
.social-vimeo,
.social-wordpress,
.social-youtube {
	font-family: 'euged_social';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.social-behance:before {
	content: "\e000";
}
.social-deviantart:before {
	content: "\e001";
}
.social-dribbble:before {
	content: "\e002";
}
.social-facebook:before {
	content: "\e003";
}
.social-flickr:before {
	content: "\e004";
}
.social-forrst:before {
	content: "\e005";
}
.social-github:before {
	content: "\e006";
}
.social-googleplus:before {
	content: "\e007";
}
.social-instagram:before {
	content: "\e008";
}
.social-lastfm:before {
	content: "\e009";
}
.social-linkedin:before {
	content: "\e00a";
}
.social-pinterest:before {
	content: "\e00b";
}
.social-rss:before {
	content: "\e00c";
}
.social-soundcloud:before {
	content: "\e00d";
}
.social-tumblr:before {
	content: "\e00e";
}
.social-twitter:before {
	content: "\e00f";
}
.social-vimeo:before {
	content: "\e010";
}
.social-wordpress:before {
	content: "\e011";
}
.social-youtube:before {
	content: "\e012";
}
