.flexslider a:active,
.flexslider a:focus,
.flex-container a:active,
.flex-container a:focus {
	outline: none;
}

.flexslider {
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	zoom: 1;
	min-height: 1px;

	.flex-viewport {
		@include transition(height 0.2s ease);
		max-height: 2000px;
	}

	.slides {
		@include clearfix;
		zoom: 1;
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;

		img {
			width: 100%;
			display: block;
		}

		.slide {
			display: none;
		}
	}
}

.flex-control-nav,
.flex-direction-nav,
.flex-thumbnail-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

* html .slides {
	height: 1%;
}

.no-js .slides > li:first-child {
	display: block;
}

.loading .flex-viewport {
	max-height: 0px;
}
