#mobile-menu {
	background-color: #333;
	float: left;
	bottom: 0;
	overflow: auto;
	position: fixed;
	width: 270px;
	top: 0;
	z-index: -1;
	visibility: hidden;

	&:after {
		@include box-shadow(inset -3px 0px 5px -3px rgba(0,0,0,0.5));
		content: '';
		display: block;
		position: absolute;
		width: 3px;
		top: 0;
		bottom: 0;
		right: 0;
	}

	a {
		border: {
			color: #575757 #000 #303030;
			color: rgba(255, 255, 255, 0.1) #000 rgba(0, 0, 0, 0.3);
			style: solid;
			width: 1px 0;
		}
		background: {
			color: #3F3F3F;
			color: rgba(255,255,255,0.1);
		}
		display: block;
		font-size: 13px;
		outline: none;
		padding: 6px 15px;

		&:hover {
			background: {
				color: #515151;
				color: rgba(255,255,255,0.15);
			}
		}

		&:active, &:focus {
			outline: none;
		}
	}

	ul {
		margin: 0;
		padding: 0;

		ul {
			display: none;
		}

		&.sub-menu {
			@include box-shadow(inset 0 1px 3px rgba(0,0,0,0.2));
			background: {
				color: #3F3F3F;
				color: rgba(0,0,0,0.15);
			}

			a {
				border: none;
				font-size: 12px;
			}
		}
	}

	&.mobile-menu-visible {
		visibility: visible;
	}

	.current-menu-ancestor {
		display: block;

		> .sub-menu {
			display: block;
		}
	}

	.current-menu-item {
		> a {
			background-color: rgba(255,255,255,0.15);
			color: #FFF;
		}
	}
}

.mobile-menu-move {
	@include perspective(1000);
	@include transition(transform 0.3s ease-in-out);

	@include min-screen-width(tablet-portrait) {
		@include perspective(none);
	}

	&.mobile-menu-visible {
		@include transform(translate3d(270px, 0, 0));
	}
}